:root {
  --background-color: #fff;
  --btn-color: #0987f2;
  --btn-text-color: #fff;
  --project-card-bg: #ffffff00;
  --text-color: #222;
  --form-text-color: #555;
  --footer-text-color: #888;
  padding-top: 80px;
}

[data-theme="dark"] {
  --background-color: #222;
  --btn-color: #fff;
  --btn-text-color: #222;
  --project-card-bg: #fff;
  --text-color: #fff;
  --form-text-color: #fff;
  --footer-text-color: #bbb;
}

/* Se till att body och root täcker hela sidan */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative; /* Behövs för att absolut positionerat innehåll ska fungera */
}

body {
  background-color: black;
  font-family: "Roboto Mono", monospace;
  position: relative; /* Behövs för att absolut positionerat innehåll ska fungera */
}

#root {
  flex: 1;  /* Se till att root-elementet fyller hela höjden */
  display: flex;
  flex-direction: column;
  gap: 60px;
}

/* Three.js canvas-styling */
canvas {
  position: fixed; /* fixed istället för absolute för att hålla det i bakgrunden även vid scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;  /* Ser till att canvasen ligger längst bak */
}

h1, h2, h3, p {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h2, h3, p {
  font-family: "Roboto Mono", monospace;
}

h1, h2 {
  text-transform: uppercase;
}

h2, h3 {
  font-size: 20px;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 32px;
}

p {
  font-size: 16px;
  font-weight: 300;
}

.sectionTitle {
  margin-bottom: 30px;
}

.hover {
  cursor: pointer;
}

/* Media Queries */
@media (width >= 800px) {
  #root {
    gap: 100px;
  }
  h1 {
    font-size: 40px;
  }
  h2, h3 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }
  .sectionTitle {
    margin-bottom: 60px;
  }
}

@media (width >= 1400px) {
  #root {
    gap: 200px;
  }
  h1 {
    font-size: 48px;
  }
  .sectionTitle {
    margin-bottom: 75px;
  }
}
